body {
  font-family: "TCS Pro Sans", sans-serif;
  font-size: 16px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  color: #2196F3;
}

.product-price {
  font-size: 16px;
  color: #07c8bb;
}

/* Search Bar */
.search-bar {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar:focus {
  outline: none;
  border-color: #2196F3;
}

.tcs-logo {
  width: 100px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
